<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UploadStatusActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarMemoActivity"
            android:exported="false" />
        <activity
            android:name=".MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseResultList"
            android:exported="false" />
        <activity
            android:name=".Commu.FreeWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.InfoWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.QuestionWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.FreeWriteViewActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.InfoWriteViewActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.QuestionWriteViewActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.CommuQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.CommuInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Commu.CommuFreeActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseResultActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseResult2Activity"
            android:exported="false" />
        <activity
            android:name=".Exercise1Activity"
            android:exported="false" />
        <activity
            android:name=".MyWriteActivity"
            android:exported="false" />
        <activity
            android:name=".MyChallActivity"
            android:exported="false" />
        <activity
            android:name=".Join2Activity"
            android:exported="false" />
        <activity
            android:name=".JoinActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>